body{
    background-image: url("/static/images.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login{
    border: 3px solid;
    height: 300px;
    width: 210px;
    border-radius: 10px;
    margin-left: auto;
    background-image: url("/static/landscape.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6%;
    margin-right: auto;
    
}
.login-item{
    color: aquamarine;
    margin-top:50px;
    margin-left: 16px;
    font-size: 20px;
}
#welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
}