<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ksdfjkslf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="welcome">
    <h1>welcome to super-torrent<br>please login</h1>
</div>
    <div class="login">
    <div class="login-item">
    <form action="/login" method="POST">
            <input type="text" name="username" placeholder="please enter your name"><br><br>
            <input type="password" name="password" placeholder="please enter your pasword"><br><br>
            <button type="submit">login</button>
        </form>
    </div>    
    </div>
    
</body>
</html>